* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #414B6C;
  padding: 10px;
  text-transform: uppercase;
}

.header h3 {
  font-size: 28px;
  margin: auto;
  margin-left: 10px;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

.main-container {
  height: 100vh;
  background-color: #8891A1;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 4fr;
      grid-template-columns: 2fr 5fr 4fr;
  -ms-grid-rows: auto 71px;
      grid-template-rows: auto 71px;
      grid-template-areas: "data aktiviteter info" "data ticker ticker";
}

@media (max-width: 1100px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#navigation {
  display: none;
}

@media (max-width: 1100px) {
  #navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: #414B6C;
  }
  #navigation ul {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
  }
  #navigation ul .menuButton {
    width: calc(100vw / 3);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navigation ul .menuButton.active {
    font-size: 1.5em;
    color: #fff;
  }
}

.mobileApp {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9000;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@media (max-width: 1100px) {
  .mobileApp {
    display: none;
  }
}

.mobileApp article {
  width: 30%;
  height: 30%;
}

.mobileApp article img {
  width: 100%;
  height: 100%;
}
