#activities-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;

    > div {
        padding: 0.5rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #3F4259;

        h2 {
            border-bottom: 1px solid;
            text-transform: uppercase;
            width: 100%;
            align-self: center;
        }

        > div {
            margin: 0.5rem 0;
            width: 100%;
            text-shadow: 0px 1px 3px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-position: center;
            background-size: cover;

            &.we {
                background-image: url('/Public/img/wu.jpg');
            }
        
            &.gr, &.ggr {
                background-image: url('/Public/img/gt.jpg');
            }
        
            &.dm {
                background-image: url('/Public/img/dm.jpg');
            }
        
            &.mg {
                background-image: url('/Public/img/mg.jpg');
            }
        
            &.iw {
                background-image: url('/Public/img/default.jpg');
            }
        
            &.agr, &.abi {
                background-image: url('/Public/img/eu.jpg');
            }

            h3 {
                padding: .5rem;
                margin: 0 auto .5rem;
                border-bottom: 1px solid;
                width: 95%;
            }

            p {
                display: flex;

                span {
                    width: 25%;
                    border-right: 1px solid;
                    margin-bottom: .5rem;

                    &:last-of-type {
                        border: none;
                        width: 50%;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .card {
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        color: #fff;
        margin-top: 13px;

        .classes {
            font-weight: 700;
            width: calc(100% / 3);
            height: 5vh;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
            background-position: center;
            background-size: cover;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .we {
            background-image: url('/Public/img/wu.jpg');
        }
    
        .gr, .ggr {
            background-image: url('/Public/img/gt.jpg');
        }
    
        .dm {
            background-image: url('/Public/img/dm.jpg');
        }
    
        .mg {
            background-image: url('/Public/img/mg.jpg');
        }
    
        .iw {
            background-image: url('/Public/img/default.jpg');
        }
    
        .agr, .abi {
            background-image: url('/Public/img/eu.jpg');
        }
    }
}

.aktiviteter-container {
    grid-area: aktiviteter;
    padding-top: 12px;
    margin-left: 13px;
    margin-right: 13px;

    @media (max-width: 1199px) {
        display: none;

        &.active {
            display: flex;
        }
    }

.header {
    background-color: #3F4259;
    height: 6.5vh;
    margin-bottom: 13px;
    align-items: center;

    @media (max-width: 1199px) {
        display: none;
    }
}
}